.nav-logo {
  margin-left: -10px;

  @media (min-width: 320px) and (max-width: 480px) {
    width: 130px;
  }
  @media (min-width: 481px) and (max-width: 767px) {
    width: 150px;
  }
}
h1 {
  font-size: 4rem;
  color: rgb(73, 175, 200);
  font-weight: 700;
}
.navbar-toggler {
  font-size: 4rem;
  font-weight: bold;
}
.navbar-nav {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.4rem;
  /* identical to box height */
  text-align: center;
  color: #000000;
  margin-left: 32%;

  @media (min-width: 992px) and (max-width: 1280px) {
    margin-left: 37%;
  }
}
.navbar-nav li {
  margin-right: 7px;
  padding-left: 10px;
  padding-right: 10px;
}
.navbar-nav li a {
  color: black !important;
}
.navbar-nav a:hover {
  color: #ed920e !important;
}
.navbar-nav a.nav-link.active {
  color: #ed920e !important;
}
.donate {
  height: 35px;
  width: 120px;
  background: #ed920e;
  text-align: center;
  font-size: 16px;
}
.donate:hover {
  background: #ffffff;
  color: #ed920e;
}
